<a href="https://colab.research.google.com/github/sangeetha815/raptpor/blob/master/python(24).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1) factors list of given number

In [0]:
def factorslist(n):
  i=1
  while(i!=n):
    if(n%i==0):
      print(i)
    i=i+1
  return
factorslist(12)

1
2
3
4
6

# 2)list in python

In [10]:
list1=[1,2,3,4,5]
print(list1)
print(list1[0])
print(list1[4])

[1, 2, 3, 4, 5]
1
5

In [14]:
list2=["sangeetha","raj","padma","krish"]
for x in list2:
  print(x)
print(list2[3])

sangeetha
raj
padma
krish
krish

In [17]:
#list example with particular index
list1=[1,2,3,4,5,6,7,8,9]
for x in list1:
  print(x)
print(list1[5])
print(list1[3:7])
print(list1[:7])

1
2
3
4
5
6
7
8
9
6
[4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

In [29]:
list1=[1,2,3,4,5,6,7,8,9,10]
for x in list1:
  print(x,end=" ")
  
print()
print(list1[1:-1])
print(list1[2:-2])  
print(list1[::2])
print(list1[::3])
print(list1[::4])
print(list1[::5])
print(list1[::-2])
print(list1[-1])
print(list1[-2])

1 2 3 4 5 6 7 8 9 10
[2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8]
[1, 3, 5, 7, 9]
[1, 4, 7, 10]
[1, 5, 9]
[1, 6]
[10, 8, 6, 4, 2]
10
9

# 3)list with range() function

In [37]:
list2=["sangeetha","raj","padma","krish",1]
print(list2)

list2[2]=15
print(list2)

del list2[3]
print(list2)

list2[1]="gitam"
print(list2)

list3=[1,2,3]
print(list3)
print(list2+list3+list1)

['sangeetha', 'raj', 'padma', 'krish', 1]
['sangeetha', 'raj', 15, 'krish', 1]
['sangeetha', 'raj', 15, 1]
['sangeetha', 'gitam', 15, 1]
[1, 2, 3]
['sangeetha', 'gitam', 15, 1, 1, 2, 3, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [40]:
print(len(list1))
list1.append(15)
list1.append(150)
list1.append(1)
list1.append(3)
list1.append(1)
print(list1)
print(list1.count(3))

20
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 150, 1, 3, 1, 15, 150, 1, 3, 1, 15, 150, 1, 3, 1]
4

In [58]:
list2=["sangeetha","raj","padma","krish",1,5,"python"]
print(list2)
list2.index("python")
list2.index(5)
list2.insert(2,2004)
print(list2)
list2.remove("python")
print(list2)
list2.remove(2004)
print(list2)
list2.remove(1)
print(list2)
list2.remove(5)
print(list2)
list2.reverse()
print(list2)

['sangeetha', 'raj', 'padma', 'krish', 1, 5, 'python']
['sangeetha', 'raj', 2004, 'padma', 'krish', 1, 5, 'python']
['sangeetha', 'raj', 2004, 'padma', 'krish', 1, 5]
['sangeetha', 'raj', 'padma', 'krish', 1, 5]
['sangeetha', 'raj', 'padma', 'krish', 5]
['sangeetha', 'raj', 'padma', 'krish']
['krish', 'padma', 'raj', 'sangeetha']

# Linear search

In [64]:
def linearsearch(a,tarItem):
  flag=0;
  for i in range(len(a)):
    if a[i]==tarItem:
      flag=1;
      break
  if(flag!=0):
    print("target item is found")
  else:
    print("target item is not found")
  
a=[1,5,9,3,4,7,8,6,2]
linearsearch(a,22)

target item is not found

In [73]:
def linearsearchduplicate(a,tarItem):
  flag=0;
  for i in range(len(a)):
    if a[i]==tarItem:
      flag=flag+1;
      
  print(flag) 
    
a=[1,9,5,9,3,4,7,8,9,6,2]
linearsearchduplicate(a,9)

3

In [71]:
def linearsearchduplicate(a,tarItem):
  flag=0;
  for i in range(len(a)):
    if a[i]==tarItem:
      print(i,end=" ")
      
a=[1,5,9,3,4,9,7,8,9,6,2]
linearsearchduplicate(a,9)

2 5 8

In [79]:
def linearsearchduplicate(a,tarItem):
  for i in range(len(a)):
     if a[i]==tarItem:
        j=0
        while j!=i+1:
          print("!",end=" ")
          j=j+1
        print()
           
       
a=[1,5,9,3,4,9,7,8,9,6,2]
linearsearchduplicate(a,9)

! ! !
! ! ! ! ! !
! ! ! ! ! ! ! ! !

In [89]:
def linearsum(a):
  sum=0
  for i in range(len(a)):
    if((a[i]%3==0)and(a[i]%5==0)):
      sum=sum+a[i]
  print(sum)
    
a=[15,12,45,9,36,60,90,45]
linearsum(a)

255

In [101]:
def linearalternative(a):
  x=5
for i in range(len(a)):
  if(x!=i-1):
    
    if((i==1)or(i==5)):
      print(a[i])
    else:
      print(a[i-1]*a[i+1]) 
      i=i+1

a=[1,2,3,4,5]
linearalternative(a)

540
12
108
1620
540
60
2700

IndexError: ignored